.section-top .swiper{
    width: 100% !important;
    height: 770px !important;
    position: absolute !important;
    top: 113px !important;
}

.section-top{
    height: 883px;
}

.section-top-content{
    background: var(--black);
    width: 740px;
    height: 360px;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

.section-top__title{
    font-size: 35px;
    text-transform: uppercase;
}

.section-top__title span{
    display: block;
    color: var(--green);
}

.section-top__link{
    width: 290px;
    height: 70px;
    background-color: var(--green);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.4s;
}

.section-top-links{
    display: flex;
    margin-top: 20px;
}

.section-top__link:hover{
    background-color: var(--white);
    color: var(--green);
}

.section-top__link:not(:first-child){
    margin-left: 30px;
}

@media(max-width: 1200px){
    .section-top .swiper img{
        width: 1200px;
        height: 500px;
        object-fit: cover;
    }

    .section-top .swiper{
        height: 500px !important;
    }

    .section-top{
        height: 613px;
    }

    .section-top-content{
        width: 400px;
        height: 200px;
        padding: 30px;
    }

    .section-top__title{
        font-size: 18px;
    }

    .section-top__link{
        width: 130px;
        height: 40px;
        font-size: 10px;
    }
}

@media(max-width: 600px){
    .section-top-content{
        width: 100%;
    }

    .section-top .swiper img{
        width: 600px;
        height: 300px;
        object-fit: cover;
    }
}